body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.phoneSide {

    height: 670px;
    width: 350px;

    background-color: #FF9838;
}

.pickingSide {
    /*
    width: 1000px;
    height: 700px;
     */
    /*
    background-color: rgb(226, 129, 129);
     */
}


.button .game{
    background-color: #FF9838;
    height: 70px;
    width: 300px;
    position: relative;
    top: 45px;
    left: 25px;
}
.button .page{

}

#sitebody{
    width: 600px;
    margin: 0 auto;
    font-size: 13px;
}

#header{
    background-color: #FFD4D4;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#sidebar_left{
    background-color: #FFECC9;
    width: 120px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    float: left;
}

#sidebar_right{
    background-color: #FFECC9;
    width: 120px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    float: right;
}

.intro{
    /*z-index: ;*/
}