body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.phoneSide {

    height: 670px;
    width: 350px;

    background-color: #FF9838;
}

.pickingSide {

}

#go_button {
    background-image: url(../assets/button_go.png);
    background-size: cover;
    width: 90px;
    height: 72px;
    background-color: #FF9838;
    border: 0px;
}

#button{
    background-color: #FF9838;
    height: 70px;
    width: 300px;
    position: relative;
    top: 45px;
    left: 25px;
}

#header{
    background-color: #FFD4D4;
    height: 80px;
    text-align: center;
    line-height: 80px;
}